{{#if controller.content.isLoaded}}
	{{#if controller.content.length}}
		<ul>
			{{#each user in controller}}
			<li>
				{{user.id}}: {{user.name}}
				{{#if App.authUser.loggedIn}}
				<a {{action editUser user href=true}}>Edit user</a>
				{{/if}}
			</li>
			{{/each}}
		</ul>
	{{else}}
		No users in list. <a {{action doCreateFirstUser href=true}}>Create the first.</a>
	{{/if}}
{{else}}
	Loading data...
{{/if}}