{{#if App.authUser.loggedIn}}
<h2>Logged in</h2>
	<p>Logged in as {{App.authUser.name}}. <a href="#" {{action logout target="App.authUser"}}>Log out.</a></p>
{{else}}
	{{#if App.authUser.isLoaded}}
		<h2>Login</h2>
		<form {{action login target="App.authUser" on="submit"}}>
			{{input authUser.email type="email" bindingBase="App" labelTranslation="user.email" autofocus="autofocus"}}
			{{input authUser.password type="password" bindingBase="App" labelTranslation="user.password"}}

			{{#if App.authUser.loginError}}
				<div class="error">{{App.authUser.loginError}}</div>
			{{/if}}
			<button>Login</button>
		</form>
	{{/if}}
{{/if}}